@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-Bold.woff2) format("woff2"),
    url(../fonts/Montserrat/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-BoldItalic.woff2) format("woff2"),
    url(../fonts/Montserrat/Montserrat-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Regular.woff2) format("woff2"),
    url(../fonts/OpenSans/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Italic.woff2) format("woff2"),
    url(../fonts/OpenSans/OpenSans-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Bold.woff2) format("woff2"),
    url(../fonts/OpenSans/OpenSans-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-BoldItalic.woff2) format("woff2"),
    url(../fonts/OpenSans/OpenSans-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
}
